/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Listing Styles */
.listing {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

    .listing img {
        max-width: 100%;
        height: auto;
        margin-right: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .listing h3 {
        font-size: 24px;
        margin-top: 0;
    }

    .listing p {
        font-size: 16px;
        margin: 10px 0;
    }

    .listing button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
    }

        .listing button:hover {
            background-color: skyblue;
        }

/* Navigation Styles */
nav {
    text-align: right;
    margin-top: 20px;
}

    nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 0 10px;
        transition: color 0.3s ease;
    }

        nav a:hover {
            color: #555